/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 1rem 0;
}
body {
  font: normal 16px -apple-system, sans-serif;
  line-height: 1.5rem;
}
a,
a:hover,
a:active,
a:visited {
  color: royalblue;
}
hr {
  height: 1px;
  background: transparent;
  width: 100%;
  border: 0;
  margin: .5rem 0;
  clear: both;
}
h1,
h2 {
  font-size: 1.125rem;
  padding: 1.5rem 1rem 0;
  max-width: 70%;
}
h2 {
  padding-left: 1.6rem;
}
h3 {
  padding-bottom: 1rem;
}
h4 {
  padding: .5rem 0;
}
article {
  padding: 1rem 0 .5rem;
}
input,
textarea {
  outline: none;
  -webkit-appearance: none;
  border: 1px solid #e4e4e4;
  font-size: 1rem;
  padding: .4rem .6rem;
}
textarea {
  display: block;
  width: 80%;
  height: 5rem;
  resize: vertical;
}
select {
  font-size: 1rem;
  max-width: 60%;
}
label {
  display: block;
  margin: 0 0 .4rem .6rem;
  color: #999;
}

/* Layout */
#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
aside {
  width: 18rem;
  min-width: 18rem;
  border-right: 1px solid #e4e4e4;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
section {
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}
header {
  padding: 2rem 0 .5rem;
  margin-bottom: 3rem;
  background: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
}
.index {
  padding: 0 4rem 2rem 0;
  flex-basis: 18rem;
}
.index__item {
  padding: .5em 0;
}
.home {
  font-size: 1.25rem;
  margin-right: 2rem;
}
.content {
  flex-grow: 1;
}
@media screen and (max-width: 600px) {
  #root,
  .container {
    flex-direction: column;
    height: auto;
  }
  main,
  aside {
    display: block;
    height: auto;
    width: 100%;
  }
}

/* Sidebar */
.sidebar__item {
  padding: .5rem 1rem
}
.sidebar__item--active {
  background: #e4e4e4;
}
.sidebar__label {
  display: block;
  float: right;
}
.sidebar__supplement {
  display: none;
  float: right;
  margin-left: 1rem;
}
.sidebar__item:hover .sidebar__supplement {
  display: block;
}
.sidebar__search {
  box-sizing: border-box;
  width: 12rem;
  padding-left: 0;
  margin: 1rem 0 .2rem 1rem;
}
.sidebar__add {
  display: inline-block;
  margin-left: 1.5rem;
}

/* Editor */
.editor__headline {
  float: left;
}
.editor__close {
  padding: 1.5rem 2rem 0;
  float: right;
}
.editor__close::after {
  display: table;
  content: " ";
  clear: both;
}

/* Form */
form {
  margin: 2rem 0;
}
.form__control {
  padding: 0 1rem 1.5rem 1rem;
}
.form__footer {
  padding: 1rem 1rem 1.5rem 1rem;
}
.form__submit,
.form__submit:hover,
.form__submit:active {
  text-decoration: none;
  color: #fff;
  margin-right: 1.5rem;
  background: royalblue;
  padding: .5rem .8rem;
  font-weight: 300;
}
